* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

li {
  display: inline;
  margin: 5px;
  font-size: 12px;
}

#getstarted {
  background-color: #191919;
  color: white;
  border-radius: 20px;
  padding: 7px 12px;
}

#navbar {
  background-color: #ffc017;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  transition: background-color 0.3s;
  /* display: flex; */
  /* justify-content: center; */
}

#getstarted {
  transition: background-color 0.3s;
}

.nav-content {
  padding: 1em 7em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

#header {
  background-color: #ffc017;
  padding: 7em 7em 4em;
  border-bottom: 1px solid black;
  position: relative;
}

#m-svg {
  position: absolute;
  bottom: 0;
  right: 0;
}

h1 {
  font-family: "Spectral", serif;
  font-size: 70px;
  font-weight: 500;
  letter-spacing: -0.3rem;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;
}

.header-content button {
  border: none;
  background-color: #191919;
  color: white;
  border-radius: 20px;
  padding: 7px 30px;
  font-weight: lighter;
}

.trending {
  padding: 2em 7em;
  border-bottom: 1px solid #e6e7e6;
}

.trending-title {
  display: flex;
  align-items: center;
  margin-bottom: 0.3em;
  column-gap: 13px;
}

.trending-title h3 {
  font-weight: 900;
  font-size: 13px;
}

.trending-card {
  display: flex;
  column-gap: 20px;
  flex-basis: 33%;
  max-width: 400px;
}

.card-number h2 {
  font-size: 35px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  color: #e6e7e6;
}

.card-content-title img {
  width: 20px;
  border-radius: 50%;
}

.card-content h2 {
  font-weight: 900;
}

.card-content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: space-evenly;
  margin-top: 0.4em;
}

.card-content-title {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.card-content-title h3 {
  font-size: 13px;
  font-weight: 700;
}

.card-content p {
  color: #757573;
  font-size: 13px;
}

.trending-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 32px;
}

.article-card-content-title {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.article-card-content-title h3 {
  font-size: 13px;
  font-weight: 700;
}

.article-card-content-title img {
  width: 20px;
  border-radius: 50%;
}

.article-card-content h2 {
  font-weight: 900;
  font-size: 21px;
}

.article-card-content p {
  color: #757573;
  font-size: 14px;
  line-height: 17px;
}

.article-card-content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: space-evenly;
  margin-top: 0.4em;
  min-width: 420px;
}

.articles {
  /* padding: 3em 7em; */
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.article-card-content p span {
  background-color: #f2f3f2;
  border-radius: 20px;
  padding: 4px 8px;
}

.article-card {
  display: flex;
  column-gap: 20px;
}

.article-card-img img {
  width: 200px;
}

.main-content {
  display: flex;
  padding: 3em 7em;
  justify-content: space-between;
  column-gap: 1em;
}

.article-bottom {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

.article-bottom-info {
  display: flex;
  align-items: center;
}

.discover-content {
  display: flex;
  flex-direction: column;
}

.discover-content h3 {
  font-weight: 900;
  font-size: 13px;
  /* margin-bottom: 1em; */
}

.discover {
  display: flex;
  flex-direction: column;
}

.discover-button-area {
  display: flex;
  flex-wrap: wrap;
  width: 300px;

  padding: 1em 0 1.5em;
}

.discover-button-area button {
  color: #757573;
  margin: 3px;
  background-color: white;
  border: 2px solid #e6e7e6;
  padding: 10px 10px;
  border-radius: 3px;
  font-size: 11px;
  cursor: pointer;
  font-weight: 700;
}

.discover-content ul {
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 1.5em; */
  color: #999999;
  line-height: 5px;
  border-top: 1px solid #e6e7e6;
  padding-top: 1.5em;
}

.discover-content ul li {
  font-size: 11px;
  margin: 10px;
  cursor: pointer;
  font-weight: 700;
}
